<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title><%= yield(:title) + " | " if content_for?(:title) -%>Twelve Notes - Musicians Practice Resource</title>

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

	<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><%= link_to "Twelve Notes", root_path %></h1>
			<span>A web site dedicated to musicians. Practice exercises, education, sharing. <%= link_to "Twelve-Notes.net", root_path %></span>
		</div>
		<%= render 'shared/menu' %>
	</div>
</div>
<div id="divider-top" class="section-divider"></div>
<%= yield %>
<div id="copyright">
	<p>Copyright (c) Twelve-Notes.net. All rights reserved. | Design by <a href="http://www.freecsstemplates.org/" rel="nofollow">FreeCSSTemplates.org</a>.</p>
</div>

<% if false %>
<div id="misc">

	<p>other stuff that i will probably delete or use in other templates...</p>

	<div id="wrapper4">
		<div id="footer" class="container">
			<div>
				<header class="title">
					<h2>Get in touch</h2>
					<span class="byline">Phasellus nec erat sit amet nibh pellentesque congue</span> </header>
				<ul class="contact">
					<li><a href="#" class="icon icon-twitter"><span>Twitter</span></a></li>
					<li><a href="#" class="icon icon-facebook"><span></span></a></li>
					<li><a href="#" class="icon icon-dribbble"><span>Pinterest</span></a></li>
					<li><a href="#" class="icon icon-tumblr"><span>Google+</span></a></li>
					<li><a href="#" class="icon icon-rss"><span>Pinterest</span></a></li>
				</ul>
			</div>
		</div>
	</div>

	<div id="wrapper2">
		<div id="newsletter" class="container">
			<div class="title">
				<h2>Newsletter Signup</h2>
				<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
			</div>
			<div class="content">
				<p>Static content from the template.</p>
			</div>
		</div>
	</div>

	<div id="wrapper3-123">
		<div id="portfolio" class="container">
			<div class="title">
				<h2>Design Portfolio</h2>
				<span class="byline">Integer sit amet pede vel arcu aliquet pretium</span>
			</div>
			<div class="content">
				<p>Static content from the template.</p>
			</div>
		</div>
	</div>

</div>
<% end %>

</body>
</html>
