<% content_for :title, "Exercises" %>
<div id="wrapper3">
	<div id="section-white" class="container">
		<div class="title">
			<h2>Exercises</h2>
			<span class="byline">12 Notes Exercise</span> </div>
		<div class="content">

			<div id="notes" class="notes_container">
				<div id="note_names">
					<%= render partial: "note", collection: @notes %>
				</div>
				<div id="notes_on_staff">
					<%= image_tag("notes/treb.gif", alt: 'Treble Clef', height: "120") %><%= render partial: "note_on_staff", collection: @notes %>
				</div>
			</div>
			<div class="spacer1"></div>

			<div class="instructions">
				<p>Get some new notes 
					<%= link_to "with FLATS", twelve_notes_path(type: "flats"), remote: true %> or
					<%= link_to "with SHARPS", twelve_notes_path(type: "sharps"), remote: true %>
				</p>
			</div>
			<div id="info">
				<div id="rules">
					<a id="rules_link" href="#"><span id="rules_expand">[+]</span> How Does This Work?</a>
					<div id="rules_text" class="info_text">
						Western music has 12 notes in an octave. As you move up or down in pitch, each adjacent note is separated by a semitone, 
						aka a half step. For this exercise we select the 12 notes in random order, using either all sharps or all flats for the 
						accidentals. Adjacent notes must be more than a half step apart.
					</div>
				</div>
				<div id="usage">
					<a id="usage_link" href="#"><span id="usage_expand">[+]</span> What Can I Do With This Exercise?</a>
					<div id="usage_text" class="info_text">
						The 12 notes exercise can be used in many ways. First, use this page to get a list of the 12 notes in random order. 
						Choose whether you want the accidentals to be sharps or flats. Then use this list to practice various exercises. 
						For each exercise, work through the list of 12 notes in the random order given on this page:
						<ul>
							<li><strong>Play the 12 notes sequentially, like a melody</strong>. For example, on guitar, play through the notes 
								on only one string. Stay between the 1st and 12th frets. Repeat for each string. On piano, play all 12 notes with 
								your left hand, then with your right hand, then with both hands together. Then move to different octaves. On a 
								saxophone or trumpet, play the notes in one octave, then again in another octave.</li>
							<li>A similar idea for the guitar... Play through the 12 notes, but <strong>stay within a "12 note box"</strong>: 
								four notes on three adjacent strings, e.g., strings 1-3, between frets 1 and 5 (covering all 12 possible notes). 
								Repeat for frets 4 to 8, 7 to 10, etc, all the way up the neck.
								Here's some <a href="#">more details on the 12 note box</a>.</li>
							<li><strong>Play major triad inversions</strong> (3-note chords) for each of the 12 notes (for guitar, piano, and other polyphonic 
								instruments). On the guitar, stay in one position (e.g., between the 3rd and 7th frets), and use one string set 
								(e.g., strings 1-3). Repeat in another position (e.g., frets 7 to 12). Move to another 
								position and/or different set of strings the next time you do this exercise.
								Repeat for minor, augmented, and diminished triads. Use a similar concept on piano.</li>
							<li>Similar to the previous bullet, <strong>play triad arpeggios</strong>. Play major triad arpeggios for all 12 
								notes, then repeat for minor, augmented, and diminished.</li>
							<li><strong>Play 7th arpeggios.</strong> You can just play pieces of each arpeggio (say, only use the top 4 strings on guitar,
								or stay within 2 octaves on piano or sax). On guitar, limit yourself to only frets 1 through 7, or 5 through 12, etc.</li>
							<li><strong>Play 7th chord inversions</strong> (guitar, piano, and polyphonic instruments). Play all the Maj7 inversions 
								in one position, and limit yourself to just 3 or 4 notes (e.g., strings 1-4 on guitar, or 2-5). Then repeat for Mi7, 
								Dom7, and Mi7b5.</li>
							<li><strong>Play each exercise with a metronome!</strong> This will help your timing at the same time you're working on 
								the 12 note exercises. Don't worry about how fast your tempo is; if it takes you 4 beats at 50 bpm before you're able 
								to change to the next note/chord/arpeggio, that's fine. Take as long as you need between notes.
								It's more important to play it correct than to play it too fast and make a lot of mistakes. 
								Once you can easily play an exercise correct all the way through the 12 notes, then bump up the tempo gradually.
								You can try to increase your tempo over time, but you don't always need to focus on speed. Start at a comfortable tempo 
								where you can play the entire exercise cleanly. Use any time signature and beat subdivision (quarter, eighth, triplets, 
								etc.) you want. Then gradually increase the tempo until it's too fast for you. Keep a log of the maximum tempo for 
								each exercise, and try to increase your tempo over time. But be patient -- it can take weeks or months of regular practice to build speed and fluidity for a particular exercise.</li>
						</ul>
						These are just a handful of ideas. <strong>Expand, enhance, revise, and evolve these concepts and come up with your 
						own exercises!</strong>
					</div>
				</div>
				<div id="credit">
					<a id="credit_link" href="#"><span id="credit_expand">[+]</span> Acknowledgement</a>
					<div id="credit_text" class="info_text">
						I learned about the 12 notes exercise from a friend who was a student of guitarist 
						<a href="http://alexmachacek.com/" target="_blank">Alex Machacek</a>. My friend gave me a basic explanation of how Alex taught 
						it to him, and I came up with my own exercises and approach to using it for my own practice. I don't know if the idea 
						originally came from Alex, or if he learned it from someone else. But it was definitely not my original idea, and I want 
						to give credit to Alex or whoever did think of this.
					</div>
				</div>
			</div>
			<%= javascript_include_tag "twelve_notes" %>
			<%#= javascript_include_tag params[:controller] %>

		</div>
	</div>
</div>
